{% extends 'base.html.twig' %}

{% block scripts %}
	<script>
		function pushURL(urlToDisplay) {
			window.history.pushState("object or string", "Title", urlToDisplay);
			// TO DO: when pushing browser back and forward buttons, URL AND selected tabs on page must be changed.
		}
	</script>
{% endblock %}

{% block body %}
	<!-- <button class="btn btn-primary my-1 mr-2" onclick="pushURL();">Test js</button> -->
	<h1>Outil de calcul nutritionnel</h1>
	<hr class="title"/>
	<a href="../../../../../manage_aliments">Catégories d'aliments</a>
	<br/><br/>
	<form name="form" method="post">
		<div class="form-inline">
			<label class="my-1 mr-2">Sportif coaché:</label>
			<select id="form_athlete_selectedAthlete" name="form[athlete][selectedAthlete]" class="custom-select my-1 mr-sm-2">	
				{% for choice in form.athlete.selectedAthlete.vars.choices %} 
			  		<option value="{{ choice.value }}" {% if choice.value == form.athlete.selectedAthlete.vars.data %} selected {% endif %}>{{ choice.label}}</option>
			  	{% endfor %}
			</select>
			<button class="btn btn-primary my-1 mr-2" type="submit" id="form_athlete_select" name="form[athlete][select]">Choisir</button>
			<label class="my-1 mr-2">masse corporelle:</label>
			<input class="form-control my-1 mr-2 col-md-1" type="text" id="form_athlete_weight" name="form[athlete][weight]" required="required" value="{{ form.athlete.weight.vars.value }}" />
			<label class="my-1 mr-3">kg</label>
			<font color="red"><label class="my-1 mr-2">
			kcal semaine = {{ macros['week']['ene'] | round(0) }}</label></font>
		</div>
		<div class="form-inline">
			<button class="btn btn-primary my-1 mr-2" type="submit" id="form_athlete_add_day" name="form[athlete][add_day]">Ajouter jour</button>
			<button class="btn btn-primary my-1 mr-2" type="submit" id="form_save" name="form[save]">SAUVER</button>
			<button class="btn btn-primary my-1 mr-2" type="submit" id="form_logout" name="form[logout]">Sign Out</button>
		</div>
		<br/>
		<nav>
	     	<div class="nav nav-tabs" id="nav-tab" role="tablist">
	      		{% for day in athlete_days %} 
					<a class="nav-item nav-link {% if day.position == day_position_to_display %} active show {% endif %}" id="nav-day-{{day.position}}-tab" data-toggle="tab" href="#nav-day-{{day.position}}" role="tab" aria-controls="nav-day-{{day.position}}" aria-selected="{% if day.position == day_position_to_display %}true{% else %}false{% endif %}" onclick="pushURL('../../../day/{{ day.id }}/meal/0');">Jour {{ day.position }}</a>	
		      	{% endfor %}
	     	</div>
	      	<div class="tab-content" id="nav-tabContent">
	      		<br/>
	      		{% for day in athlete_days %} 
					<div class="tab-pane fade {% if day.position == day_position_to_display %} active show {% endif %}" id="nav-day-{{day.position}}" role="tabpanel" aria-labelledby="nav-day-{{day.position}}-tab">
						<h2>Jour {{ day.position }}</h2>  
						<div class="form-inline">
							{% set formDay = attribute(form, 'day_'~(day.position - 1)) %}
							<label class="my-1 mr-2">Nom:</label>
							<select id="form_day_{{ day.position - 1 }}_name" name="form[day_{{ day.position - 1 }}][name]" class="custom-select my-1 mr-sm-2">	
								{% for choice in formDay.name.vars.choices %} 
							  		<option value="{{ choice.value }}" {% if choice.value == formDay.name.vars.data %} selected {% endif %}>{{ choice.label}}</option>
							  	{% endfor %}
							</select>
							<label class="my-1 mr-2">idem que:</label>
							<select id="form_day_{{ day.position - 1 }}_equivalent_name" name="form[day_{{ day.position - 1 }}][equivalent_name]" class="custom-select my-1 mr-sm-2">	
								{% for choice in formDay.equivalent_name.vars.choices %} 
							  		<option value="{{ choice.value }}" {% if choice.value == formDay.equivalent_name.vars.data %} selected {% endif %}>{{ choice.label}}</option>
							  	{% endfor %}
							</select>
							<button class="btn btn-primary my-1 mr-2" type="submit" id="form_day_{{ day.position - 1 }}_delete" name="form[day_{{ day.position - 1 }}][delete]">Supprimer</button>
							<font color="red"><label class="my-1">
							g prot = {{ macros['days'][day.position - 1]['g_pro'] | round(0) }},  
							g gluc = {{ macros['days'][day.position - 1]['g_hyd'] | round(0) }}, 
							g lipi = {{ macros['days'][day.position - 1]['g_fat'] | round(0) }}</label></font>
							<font color="green"><label class="my-1">
							, g prot par kg m. corp. = {{ macros['days'][day.position - 1]['g_pro_per_kg'] | round(1) }}, 
							g gluc par kg m. corp. = {{ macros['days'][day.position - 1]['g_hyd_per_kg'] | round(1) }}, 
							g lipi par kg m. corp. = {{ macros['days'][day.position - 1]['g_fat_per_kg'] | round(1) }}</label></font>
							<font color="red"><label class="my-1 mr-2">
							, kcal = {{ macros['days'][day.position - 1]['ene'] | round(0) }}</label></font>
						</div>
						<div class="form-inline">
							<button class="btn btn-primary my-1 mr-2" type="submit" id="form_day_{{ day.position - 1 }}_add_meal" name="form[day_{{ day.position - 1 }}][add_meal]">Ajouter repas</button>
						</div>
						<br/>
				    	<nav>
					        <div class="nav nav-tabs" id="nav-tab" role="tablist">
				    			{% for meal in athlete_meals[day.position - 1] %} 
					          		<a class="nav-item nav-link {% if meal.position == meal_position_to_display %} active show {% endif %}" id="nav-day-{{day.position}}-meal-{{meal.position}}-tab" data-toggle="tab" href="#nav-day-{{day.position}}-meal-{{meal.position}}" role="tab" aria-controls="nav-day-{{day.position}}-meal-{{meal.position}}" aria-selected="{% if meal.position == meal_position_to_display %}true{% else %}false{% endif %}" onclick="pushURL('../../../day/{{ day.id }}/meal/{{ meal.id }}');">Repas {{ meal.position }} </a>
				    			{% endfor %}
					        </div>
					        <div class="tab-content" id="nav-tabContent">
	      						<br/>
					        	{% for meal in athlete_meals[day.position - 1] %} 
					          		<div class="tab-pane fade {% if meal.position == meal_position_to_display %} active show {% endif %}" id="nav-day-{{day.position}}-meal-{{meal.position}}" role="tabpanel" aria-labelledby="nav-day-{{day.position}}-meal-{{meal.position}}-tab">
				          				<h3>Repas {{ meal.position }}</h3>
				          				<div class="form-inline">
											{% set formMeal = attribute(form, 'day_'~(day.position - 1)~'_meal_'~(meal.position - 1)) %}
											<label class="my-1 mr-2">Nom:</label>
											<select id="form_day_{{ day.position - 1 }}_meal_{{ meal.position - 1 }}_name" name="form[day_{{ day.position - 1 }}_meal_{{ meal.position - 1 }}][name]" class="custom-select my-1 mr-sm-2">	
												{% for choice in formMeal.name.vars.choices %} 
											  		<option value="{{ choice.value }}" {% if choice.value == formMeal.name.vars.data %} selected {% endif %}>{{ choice.label}}</option>
											  	{% endfor %}
											</select>
											<button class="btn btn-primary my-1 mr-2" type="submit" id="form_day_{{ day.position - 1 }}_meal_{{ meal.position - 1 }}_delete" name="form[day_{{ day.position - 1 }}_meal_{{ meal.position - 1 }}][delete]">Supprimer</button>
											<font color="red"><label class="my-1">
											g prot = {{ macros['meals'][day.position - 1][meal.position - 1]['g_pro'] | round(0) }},  
											g gluc = {{ macros['meals'][day.position - 1][meal.position - 1]['g_hyd'] | round(0) }},  
											g lipi = {{ macros['meals'][day.position - 1][meal.position - 1]['g_fat'] | round(0) }},  
											kcal = {{ macros['meals'][day.position - 1][meal.position - 1]['ene'] | round(0) }} </label></font>
										</div>
										<div class="form-inline">
											<button class="btn btn-primary my-1 mr-2" type="submit" id="form_day_{{ day.position - 1 }}_meal_{{ meal.position - 1 }}_add_aliment" name="form[day_{{ day.position - 1 }}_meal_{{ meal.position - 1 }}][add_aliment]">Ajouter aliment</button>
										</div>
										{% for aliment in athlete_aliments[day.position - 1][meal.position - 1] %} 
											<hr/>
											<div class="form-inline float-right">
												<button type="submit" id="form_day_{{ day.position - 1 }}_meal_{{ meal.position - 1 }}_aliment_{{ aliment.position - 1 }}_delete" name="form[day_{{ day.position - 1 }}_meal_{{ meal.position - 1 }}_aliment_{{ aliment.position - 1 }}][delete]" aria-label="Close" type="button" class="close"><span aria-hidden="true">&times;</span></button>
											</div>
											<div class="form-inline">
												{% set formAliment = attribute(form, 'day_'~(day.position - 1)~'_meal_'~(meal.position - 1)~'_aliment_'~(aliment.position - 1)) %}
												<select id="form_day_{{ day.position - 1 }}_meal_{{ meal.position - 1 }}_aliment_{{ aliment.position - 1 }}_aliment_category_id" name="form[day_{{ day.position - 1 }}_meal_{{ meal.position - 1 }}_aliment_{{ aliment.position - 1 }}][aliment_category_id]" class="custom-select my-1 mr-sm-2">	
													{% for choice in formAliment.aliment_category_id.vars.choices %} 
												  		<option value="{{ choice.value }}" {% if choice.value == formAliment.aliment_category_id.vars.data %} selected {% endif %}>{{ choice.label}}</option>
												  	{% endfor %}
												</select>
												<label class="my-1 mr-2">Qté [g]:</label>
												<input class="form-control my-1 mr-2 col-md-1" type="text" id="form_day_{{ day.position - 1 }}_meal_{{ meal.position - 1 }}_aliment_{{ aliment.position - 1 }}_quantity" name="form[day_{{ day.position - 1 }}_meal_{{ meal.position - 1 }}_aliment_{{ aliment.position - 1 }}][quantity]" required="required" value="{{ formAliment.quantity.vars.value }}" />
												<font color="red"><label class="my-1 mr-2">
												g prot = {{ macros['aliments'][day.position - 1][meal.position - 1][aliment.position - 1]['g_pro'] | round(0) }},  
												g gluc = {{ macros['aliments'][day.position - 1][meal.position - 1][aliment.position - 1]['g_hyd'] | round(0) }},  
												g lipi = {{ macros['aliments'][day.position - 1][meal.position - 1][aliment.position - 1]['g_fat'] | round(0) }},   
												g tot = {{ macros['aliments'][day.position - 1][meal.position - 1][aliment.position - 1]['g_tot'] | round(0) }}, 
												kcal = {{ macros['aliments'][day.position - 1][meal.position - 1][aliment.position - 1]['ene'] | round(0) }}</label></font>
											</div>
										{% endfor %}
										{% if everydayAlimentsToDisplay[day.position - 1][meal.position - 1] is defined %}
											<br/><br/><h4>Autres aliments (everyday):</h4>
											<ul class="list-group">
												{% for aliment in everydayAlimentsToDisplay[day.position - 1][meal.position - 1] %}
													<li class="list-group-item col-md-8">
														{{ aliment['description'] }}: 
														<font color="red">
															g prot = {{ aliment['g_pro'] | round(0) }}, 
															g gluc = {{ aliment['g_hyd'] | round(0) }}, 
															g lipi = {{ aliment['g_fat'] | round(0) }}, 
															g tot = {{ aliment['g_tot'] | round(0) }}, 
															kcal = {{ aliment['ene'] | round(0) }}
														</font>
													</li>
												{% endfor %}	
											</ul>
										{% endif %}
				          			</div>
				    			{% endfor %}
				        	</div>
				      	</nav> 
			      	</div>
		      	{% endfor %}
	    	</div> 
	    </nav>
	    {{ form_widget(form._token) }}
	</form>
{% endblock %}
