<!DOCTYPE html>
<html lang="en">
	<head>
		{% block meta %}
			<meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% endblock %}	
	
		{% block title %}
	    	<title>Nutrition test</title>
    	{% endblock %}

		{% block stylesheets %}
	    	<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous"/>
	    	<link href="{{ asset('css/default.css') }}" rel="stylesheet" />
    	{% endblock %}

    	{% block scripts %}{% endblock %}
  </head>
  <body>
    <div id="sidebar">
		{% block sidebar %}{% endblock %}
	</div>
	<div id="content">
		{% block body %}
			<p>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }} 
			</p>
		{% endblock %}
	</div>
	
	{% block javascripts %}
	    <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}" crossorigin="anonymous"></script>
	    <script src="{{ asset('js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
	{% endblock %}    
  </body>
</html>